.signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 350px;
    width: 400px;
}

.signup__top {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.signup__under {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.signup__btn {
    width: 120px;
}

.signup__error {
    color: rgb(252, 40, 40);
}