.Form {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    padding: 0 0 1px 10px;
    position: absolute;
    bottom: -80px;
    left: 0;
    width: 100%;
}


.Form-text {
    width: 70%;
}

.Form-btn {
    width: 20%;
}