.App-main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 700px;
}

.App-left {
    box-sizing: border-box;
    width: 20%;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.877);
}

.App-right {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    width: 80%;
    height: 700px;
    background-color: rgb(255, 255, 255);
}