.App {
  height: 100vh;
  padding: 0 10%;
}

.Content-chat {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;  
}

.Chat {
  width: 70%;
}

/* .App-main {
  background-color: tomato;
} */