.App {
  min-height: 100vh;
  padding: 0 10%;
}

.App-header {
  opacity: 0.3;
  display: flex;
  justify-content: center;
}

.App-title {
  flex-grow: 0;
  color: #000;
}

.Content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;  
}

.Chat {
  width: 70%;
}

/* .App-main {
  background-color: tomato;
} */